.post-reward(onclick='anzhiyu.addRewardMask()')
  .reward-button.button--animated(title='Support the author')
    i.anzhiyufont.anzhiyu-icon-hand-heart-fill
    | Support
  .reward-main
    .reward-all
      span.reward-title Thank's for supporting me!
      ul.reward-group
        each item in theme.reward.QR_code
          - var clickTo = item.link ? item.link : item.img
          li.reward-item
            a(href=url_for(clickTo) target='_blank')
              img.post-qr-code-img(src=url_for(item.img) alt=item.text)
            .post-qr-code-desc=item.text
      a.reward-main-btn(href='/about/#about-reward' target='_blank')
        .reward-text Sponsor List
        .reward-dec Really thanks for your coffee🙏
#quit-box(onclick="anzhiyu.removeRewardMask()" style="display: none")