extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #archive
    .article-sort-title= `${_p('page.articles')} - ${getArchiveLength()}`
    +articleSort(page.posts, page.current)
    include includes/pagination.pug

  script.
      document.addEventListener("DOMContentLoaded", function() {
        var pageLang = "#{page.lang || 'en'}";
        document.documentElement.lang = pageLang || 'en';
      });

      document.addEventListener("pjax:complete", function() {
        var pageLang = "#{page.lang || 'en'}";
        document.documentElement.lang = pageLang || 'en';
      });